__pycache__/
*.pyc
.env
*.db
*.json
ngrok
ngrok.exe
ngrok.zip
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
social_state.json
daily_social_report.md
